## Preprocessing

In [1]:
url = 'https://github.com/almulldreyer/deep-learning-charityfunding/blob/main/gt-virt-atl-data-pt-09-2021-u-c-c-main-Homeworks-21-Deep-Learning/Homeworks/21-Deep-Learning/Resources/charity_data.csv'

In [15]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import drive 
drive.mount('/content/gdrive')

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("gdrive/MyDrive/Colab Notebooks/Resources/charity_data.csv")
application_df.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

# New Section

In [16]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [17]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [18]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df[ 'APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 600].index)
application_types_to_replace

['T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [22]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification_counts_bin = application_df['CLASSIFICATION'].value_counts()

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
valuecounts_classification = classification_counts_bin[classification_counts_bin > 1]
valuecounts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classification_counts_bin[classification_counts_bin < 100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [29]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype = float)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 49 columns]

In [32]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [33]:
# Drop "is successful" 
x = application_df.drop('IS_SUCCESSFUL', axis = 1).values
x

array([[1.0000000e+00, 5.0000000e+03, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [35]:
# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = 30)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(x_train_scaled[0])

hidden_nodes_layer1 = 5
hidden_nodes_layer2 = 10
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = input_features, activation ='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation ='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 245

 dense_1 (Dense)             (None, 10)                60

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 316
Trainable params: 316
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [39]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, validation_split = 0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.6253 - accuracy: 0.6633 - val_loss: 0.5740 - val_accuracy: 0.7222
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5640 - accuracy: 0.7292 - val_loss: 0.5611 - val_accuracy: 0.7284
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7318 - val_loss: 0.5607 - val_accuracy: 0.7276
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7319 - val_loss: 0.5581 - val_accuracy: 0.7300
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7307 - val_loss: 0.5577 - val_accuracy: 0.7287
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7322 - val_loss: 0.5574 - val_accuracy: 0.7297
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7319 - val_loss: 0.5561 - val_accuracy: 0.7284
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7323 - val_loss: 0.5554 - val_accuracy: 0.7292
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7324 - val_loss: 0.5556 - val_accuracy: 0.7300
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7321 - val_loss: 0.5552 - val_accuracy: 0.7292
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7330 - val_loss: 0.5554 - val_accuracy: 0.7271
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7315 - val_loss: 0.5552 - val_accuracy: 0.7300
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7308 - val_loss: 0.5566 - val_accuracy: 0.7282
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7328 - val_loss: 0.5576 - val_accuracy: 0.7279
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7317 - val_loss: 0.5554 - val_accuracy: 0.7295
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7314 - val_loss: 0.5559 - val_accuracy: 0.7292
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7318 - val_loss: 0.5572 - val_accuracy: 0.7276
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7321 - val_loss: 0.5548 - val_accuracy: 0.7295
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7317 - val_loss: 0.5551 - val_accuracy: 0.7295
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7317 - val_loss: 0.5554 - val_accuracy: 0.7287
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7312 - val_loss: 0.5568 - val_accuracy: 0.7274
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7324 - val_loss: 0.5558 - val_accuracy: 0.7284
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7335 - val_loss: 0.5561 - val_accuracy: 0.7295
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7327 - val_loss: 0.5558 - val_accuracy: 0.7300
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7333 - val_loss: 0.5562 - val_accuracy: 0.7284
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7333 - val_loss: 0.5565 - val_accuracy: 0.7295
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7337 - val_loss: 0.5557 - val_accuracy: 0.7305
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7336 - val_loss: 0.5561 - val_accuracy: 0.7289
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7335 - val_loss: 0.5548 - val_accuracy: 0.7305
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7330 - val_loss: 0.5550 - val_accuracy: 0.7279
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7333 - val_loss: 0.5549 - val_accuracy: 0.7295
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7341 - val_loss: 0.5550 - val_accuracy: 0.7305
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7344 - val_loss: 0.5554 - val_accuracy: 0.7300
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7336 - val_loss: 0.5542 - val_accuracy: 0.7310
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7343 - val_loss: 0.5547 - val_accuracy: 0.7302
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7342 - val_loss: 0.5536 - val_accuracy: 0.7313
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7350 - val_loss: 0.5549 - val_accuracy: 0.7308
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7353 - val_loss: 0.5545 - val_accuracy: 0.7292
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7342 - val_loss: 0.5548 - val_accuracy: 0.7308
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7351 - val_loss: 0.5536 - val_accuracy: 0.7302
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7339 - val_loss: 0.5539 - val_accuracy: 0.7300
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7338 - val_loss: 0.5543 - val_accuracy: 0.7300
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7346 - val_loss: 0.5557 - val_accuracy: 0.7310
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7348 - val_loss: 0.5553 - val_accuracy: 0.7305
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7354 - val_loss: 0.5552 - val_accuracy: 0.7300
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7357 - val_loss: 0.5548 - val_accuracy: 0.7302
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7351 - val_loss: 0.5547 - val_accuracy: 0.7313
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7342 - val_loss: 0.5555 - val_accuracy: 0.7305
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7349 - val_loss: 0.5544 - val_accuracy: 0.7300
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7343 - val_loss: 0.5531 - val_accuracy: 0.7300
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7352 - val_loss: 0.5565 - val_accuracy: 0.7297
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7348 - val_loss: 0.5550 - val_accuracy: 0.7289
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7346 - val_loss: 0.5562 - val_accuracy: 0.7310
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7355 - val_loss: 0.5545 - val_accuracy: 0.7295
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7355 - val_loss: 0.5546 - val_accuracy: 0.7295
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7357 - val_loss: 0.5541 - val_accuracy: 0.7323
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7359 - val_loss: 0.5552 - val_accuracy: 0.7313
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7367 - val_loss: 0.5537 - val_accuracy: 0.7305
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7354 - val_loss: 0.5537 - val_accuracy: 0.7318
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7362 - val_loss: 0.5527 - val_accuracy: 0.7313
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7359 - val_loss: 0.5565 - val_accuracy: 0.7310
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7366 - val_loss: 0.5542 - val_accuracy: 0.7295
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7366 - val_loss: 0.5537 - val_accuracy: 0.7310
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7371 - val_loss: 0.5535 - val_accuracy: 0.7305
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7368 - val_loss: 0.5535 - val_accuracy: 0.7308
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7371 - val_loss: 0.5532 - val_accuracy: 0.7305
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7367 - val_loss: 0.5530 - val_accuracy: 0.7308
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7379 - val_loss: 0.5534 - val_accuracy: 0.7295
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7367 - val_loss: 0.5530 - val_accuracy: 0.7308
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7370 - val_loss: 0.5539 - val_accuracy: 0.7310
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7369 - val_loss: 0.5541 - val_accuracy: 0.7308
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7382 - val_loss: 0.5533 - val_accuracy: 0.7310
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7378 - val_loss: 0.5527 - val_accuracy: 0.7308
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7382 - val_loss: 0.5523 - val_accuracy: 0.7308
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7374 - val_loss: 0.5519 - val_accuracy: 0.7305
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7371 - val_loss: 0.5526 - val_accuracy: 0.7318
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7371 - val_loss: 0.5531 - val_accuracy: 0.7313
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7378 - val_loss: 0.5542 - val_accuracy: 0.7282
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7377 - val_loss: 0.5530 - val_accuracy: 0.7313
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7377 - val_loss: 0.5538 - val_accuracy: 0.7310
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7377 - val_loss: 0.5547 - val_accuracy: 0.7271
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7378 - val_loss: 0.5538 - val_accuracy: 0.7302
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7379 - val_loss: 0.5544 - val_accuracy: 0.7264
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7363 - val_loss: 0.5533 - val_accuracy: 0.7302
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7370 - val_loss: 0.5533 - val_accuracy: 0.7264
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7374 - val_loss: 0.5545 - val_accuracy: 0.7308
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7367 - val_loss: 0.5537 - val_accuracy: 0.7305
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7377 - val_loss: 0.5521 - val_accuracy: 0.7279
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7370 - val_loss: 0.5530 - val_accuracy: 0.7279
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7384 - val_loss: 0.5551 - val_accuracy: 0.7274
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7381 - val_loss: 0.5516 - val_accuracy: 0.7310
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7379 - val_loss: 0.5524 - val_accuracy: 0.7315
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7376 - val_loss: 0.5532 - val_accuracy: 0.7302
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7367 - val_loss: 0.5528 - val_accuracy: 0.7305
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7369 - val_loss: 0.5524 - val_accuracy: 0.7313
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7365 - val_loss: 0.5525 - val_accuracy: 0.7310
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7366 - val_loss: 0.5529 - val_accuracy: 0.7310
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7378 - val_loss: 0.5532 - val_accuracy: 0.7315
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7373 - val_loss: 0.5532 - val_accuracy: 0.7305
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7365 - val_loss: 0.5538 - val_accuracy: 0.7310

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5615 - accuracy: 0.7206 - 542ms/epoch - 2ms/step
Loss: 0.5615240335464478, Accuracy: 0.7205830812454224

In [41]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')